<div class="bg-gradient-to-r from-purple-300 to-blue-200">
  <div class="w-9/12 m-auto py-4 flex items-center justify-center" style="height: 40vh;">
    <div class="bg-white shadow overflow-hidden sm:rounded-lg pb-8">
      <div class="border-t border-gray-200 text-center pt-8">
        <h1 class="text-9xl font-bold text-purple-400"></h1>
        <h1 class="text-6xl font-medium py-8">Brak danych</h1>
        <p class="text-2xl pb-8 px-12 font-medium">Wygląda na to, że nie zebraliśmy jeszcze żadnych danych pomiarowych
          dla wybranej stacji :(</p>
        <button type="button" class="bg-purple p-2 m-4" style="width: fit-content; color: white;"
                [disabled]="!previousUrl" (click)="goBack()">Go back
        </button>
        <button type="button" class="bg-purple p-2 m-4" style="width: fit-content; color: white;" (click)="goHome()">
          Home
        </button>
        <button type="button" class="bg-purple p-2 m-4" style="width: fit-content; color: white;"
                (click)="goToContactUs()">Contact Us
        </button>
      </div>
    </div>
  </div>
</div>
