
#map {
  height: 60vh;
  width: 100%;
}

:host {
  display: flex;
  flex: 1;
}
mgl-map {
  height: 100vh;
  width: 100%;
}

.marker {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}
