<div class="w-100% h-screen bg-gray ml-4 mr-4 mb-2">
  <div class="flex w-96 h-24 items-center ml-48">
    <app-back class="mr-4"></app-back>
    <button class="bg-purple text-white font-bold py-2 px-4 h-14 rounded text-3xl mr-4">KRAKÓW
    </button>
    <button class="bg-white text-black font-bold py-2 px-4 h-14 rounded text-base mr-4">ul.Dietla
    </button>
    <button class="bg-white text-black font-bold py-2 px-4 h-14 rounded text-base mr-4">ICON
    </button>
  </div>
  <div class="flex items-center ml-48" style="width: 90vw;">
    <router-outlet></router-outlet>
  </div>
</div>
