@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';

.ag-header {
  border: none !important;
}

.ag-root-wrapper {
  border: none !important;
}

.ag-header-row {
  background: #fefefe;
  border-bottom: 2px #eee solid;
  font-weight: bold;
}

.ag-cell {
  background: #fefefe;
  border-bottom: 2px solid #eee;
  cursor: pointer;
}

.ag-center-cols-viewport {
  overflow-x: hidden;
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
