@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';

.ag-header {
  border: none !important;
}

.ag-root-wrapper {
  border: none !important;
}

.ag-header-row {
  background: #fefefe;
  border-bottom: 2px #eee solid;
  font-weight: bold;
}

.ag-cell {
  background: #fefefe;
  border-bottom: 2px solid #eee;
  cursor: pointer;
}

.ag-center-cols-viewport {
  overflow-x: hidden;
}
