<button type="button" id="column" class="chart-card bg-white flex items-center w-64 h-auto rounded-lg mr-20 mb-10">
  <apx-chart
    [series]="chartOptions.series"
    [grid]="chartOptions.grid"
    [chart]="chartOptions.chart"
    [fill]="chartOptions.fill"
    [colors]="chartOptions.colors"
    [dataLabels]="chartOptions.dataLabels"
    [labels]="chartOptions.labels"
    [plotOptions]="chartOptions.plotOptions"
    [yaxis]="chartOptions.yaxis"
    [xaxis]="chartOptions.xaxis"
    [fill]="chartOptions.fill"
    [title]="chartOptions.title"
    [subtitle]="chartOptions.subtitle"
  ></apx-chart>
</button>
