<div class="m-16 flex items-center flex-col">
  <p>detail page works!</p>
  <app-chart-test></app-chart-test>
  <button type="button"
          class="bg-blue hover:bg-white hover:text-gray-200 text-white hover:text-black font-bold py-2 px-4 rounded w-48 m-4"
          (click)="navigateToDiagramDetailPage()">Go to diagram detail page
  </button>
  <button type="button"
          class="bg-blue hover:bg-white hover:text-gray-200 text-white hover:text-black font-bold py-2 px-4 rounded w-48 m-4"
          (click)="navigateToTableDetailPage()">Go to table detail page
  </button>
</div>
