<div class="flex justify-center sm:justify-center md:justify-between  items-start sm:items-center flex-wrap">
 
	<ng-container #chartContainer></ng-container>
	
  <!-- <button type="button"
		class="bg-blue hover:bg-white hover:text-gray-200 text-white hover:text-black font-bold py-2 px-4 rounded w-48 m-4"
		(click)="navigateToDiagramDetailPage()">Go to diagram detail page
  </button> -->
  <button type="button"
		class="bg-blue hover:bg-white hover:text-gray-200 text-white hover:text-black font-bold py-2 px-4 rounded w-48 m-4"
		(click)="navigateToTableDetailPage()">Go to table detail page
  </button>
</div>
