<div class="flex justify-center flex-wrap">
  <div class="w-screen h-96 bg-gray rounded-b-2xl mx-4 mb-2 flex justify-around items-center">
    <div>Tiles</div>
    <app-chart-test></app-chart-test>
  </div>
  <div class="w-screen bg-green:200 rounded-2xl m-4 mb-2 flex justify-center items-center">
    <app-search></app-search>
  </div>
  <div class="w-screen bg-gray rounded-2xl m-4 mb-2 flex justify-center items-center">
    <app-search-result-table style="min-width: 90%;"></app-search-result-table>
  </div>
</div>
