<div class="flex justify-around w-10/12">
  <app-pollution-station-component [stationMeasurements]="leastPollutedStationMeasurements"
                                   [type]="'least'"></app-pollution-station-component>
  <app-pollution-station-component [stationMeasurements]="topPollutedStationMeasurements"
                                   [type]="'top'"></app-pollution-station-component>
  <app-pollution-station-component [stationMeasurements]="middlePollutedStationMeasurements"
                                   [type]="'middle'"></app-pollution-station-component>
</div>
